
:root {
  --color1: rgba(250, 201, 184, 1);
  --color2: rgba(229, 212, 192, 1);
  --color3: rgba(197, 222, 205, 1);
  --color4: rgba(161, 232, 204, 1);
  --color5: rgba(73, 81, 89, 1);
  --palette1: rgba(0, 0, 0, 1);
  --palette2: rgba(47, 69, 80, 1);
  --palette3: rgba(88, 111, 124, 1);
  --palette4: rgba(184, 219, 217, 1);
  --palette5: rgba(244, 244, 249, 1);
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--palette2);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
nav {
  background-color: var(--palette3);
}
.card__col {
  max-width: 800px;
  margin: 60px auto 500px;
}
.card__menu {
  display: flex;
  justify-content: center;
}
.game {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  margin: 0 auto 50px;
}
.game.HARD {
  max-width: 600px;
}
.game.MEDIUM {
  max-width: 600px;
}
/* START - Card Flip Effect */
.card_box {
  cursor: pointer;
  border-radius: 12px;
  margin: 4px;
  background-color: transparent;
  width: 90px;
  height: 90px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.card_box:hover {
}

/* This container is needed to position the front and back side */
.card_box__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.card_box.card_box__active .card_box__inner {
  transform: rotateY(180deg);
}
.card_box__hide {
   visibility: hidden;
 }
.card_box__hidden {
  display: none;
  border: none;
}
/* Position the front and back side */
.card_box__front, .card_box__back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.card_box__front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.card_box__back {
  background-color: var(--color4);
  color: white;
  transform: rotateY(180deg);
}
 /* END - Card Flip Effect */