
root {
  --color1: rgba(250, 201, 184, 1);
  --color2: rgba(229, 212, 192, 1);
  --color3: rgba(197, 222, 205, 1);
  --color4: rgba(161, 232, 204, 1);
  --color5: rgba(73, 81, 89, 1);
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.card__col {
  max-width: 400px;
  margin: 60px auto 500px;
}
.card__menu {
  display: flex;
  justify-content: center;
}
.card_box {
  width: 90px;
  height: 90px;
}
.game {
  display: flex;
  flex-wrap: wrap;
}
/* START - Card Flip Effect */

.flip_card {
  cursor: pointer;
  border-radius: 12px;
  margin: 4px;
  background-color: transparent;
  width: 90px;
  height: 90px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.flip_card:hover {
}

/* This container is needed to position the front and back side */
.flip_card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip_card.flip_card__active .flip_card__inner {
  transform: rotateY(180deg);
}

.flip_card__hidden {
  display: none;
  border: none;
}
/* Position the front and back side */
.flip_card__front, .flip_card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip_card__front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip_card__back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
 /* END - Card Flip Effect */